<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Configuration</title>
        <title lang="de-DE">Konfiguration</title>

        <component name="sw-entity-multi-id-select">
            <name>customerGroups</name>
            <entity>customer_group</entity>
            <label>Customer groups to show prices</label>
            <label lang="de-DE">Kundengruppen für Preisanzeige</label>
        </component>

        <input-field type="bool">
            <name>debugMode</name>
            <label>Enable debug mode</label>
            <label lang="de-DE">Debug-Modus aktivieren</label>
            <helpText>Enables additional debug output for development</helpText>
            <helpText lang="de-DE">Aktiviert zusätzliche Debug-Ausgaben für die Entwicklung</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
</config>
